<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KTLT_bt7.Properties.Settings.QuanLySinhVienConnectionString"
            connectionString="Data Source=DESKTOP-FO6MTI0\SQLEXPRESS;Initial Catalog=QuanLySinhVien;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>